<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="${request.contextPath}/login">
        <div>
            <label>用户名:</label>
            <input type="text" id="userName" placeholder="请输入用户名">
        </div>
        <div>
            <label>密码:</label>
            <input type="text" id="password" placeholder="请输入密码">
        </div>
        <div>
            <input type="button" value="登录" id="login">
            <input type="button" value="注册" id="regist">
        </div>
    </form>
</body>
</html>